.Rproj.user
.Rhistory
.RData
_book
_bookdown_files
rsconnect
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/Non-life-Insurance-Actuarial-Science.iml
.idea/vcs.xml
.idea/workspace.xml
